.specifications-bg {
  align-items: center;
  background-color: var(--dark-gray);
  border-radius: 25px;
  box-shadow: 0px 0px 10px var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95%;
  position: relative;
  width: 80%;
}